html, body {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

#startWrap {
  background: #e67e22;
  background: url('banner.jpg');
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  padding-top: 120px;
  width: 100%;
}

h1 {
  color: white;
  font-family: 'Biryani';
  font-size: 64px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  text-align: center;
}

#addressBox {
  border: none;
  height: 53px;
  margin: auto;
  position: relative;
  width: 650px;
}

#addressBox-input {
  border: none;
  font-family: 'Open Sans';
  font-size: 24px;
  padding:  10px;
  text-align: left;
  width: inherit;
}

#addressBox-link {
  background: #66380F;
  box-sizing: border-box;
  color: white;
  font-size: 24px;
  height: 53px;
  padding: 12px;
  padding-left: 16px;
  position: absolute;
  right: 0;
  top: 0;
  width: 53px;
}

#addressBox-link:hover {
  background: #733F11;
  cursor: pointer;
}


.page {
  position: relative;
}

.page h2 {
  font-size: 54px;
}


#productionWrap {
  background: #2B2E39;
  padding: 25px;
  position: relative;
}

#productionWrap-col1 {
  position: absolute;
  left: 25px;
}

#productionWrap-col2 {
  background: #353846;
  height: 500px;
  margin: auto;
  width: 900px;
}

#productionWrap-col3 {
  position: absolute;
  right: 25px;
}

#productionWrap-col3 ul {
  color: white;
  list-style: none;
}

#productionWrap-col3 ul li {
  background: #E67E22;
  margin: 15px 0;
  padding: 15px 40px;
  text-align: center;
}

#productionWrap-col3 ul li:hover {
  background: #CC701E;
  cursor: pointer;
}

#productionWrap p {
  color: white;
}

p {
  margin: 0;
  font-size: 24px;
}

.superlarge {
  display: block;
  font-size: 230px;
  font-weight: 900;
}

.centerText {
  text-align: center;
}

.canvas {
  background: #EEE;
}



.label {

}

.bigNumber {
  font-family: 'Open Sans';
  font-size: 128px;
  font-weight: 100;
}
